PORT=5000
ORIGIN=['http://localhost:3000']
ACTIVATION_SECRET=0000000

NODE_ENV=development

SMTP_PASSWORD=xyxx xyxx xyxx xyxx
SMTP_MAIL=your@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail

MONGO_URI=mongodb+srv://<name>:<password>@cluster0.gzqox.mongodb.net/lms?appName=Cluster0

CLOUD_NAME=
CLOUD_API_KYE=
CLOUD_API_SECRET=

REDIS_URL=